name: GitHub Metrics

on:
  schedule: [{cron: "0 0 * * *"}] # Her gece çalışır
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # --- İŞTE EKSİK OLAN SATIR BURADAYDI ---
          token: ${{ secrets.METRICS_TOKEN }} 
          # ---------------------------------------
          user: erogluyusuf
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Istanbul
